@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.digiency-1 {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  line-height: 45.77px;
  text-align: left;
  color: #ff5300;
}

.digiency-2 {
  font-family: "Work Sans", sans-serif;
  font-size: 39.06px;
  line-height: 45.77px;
  text-align: left;
  color: #373737;
}

.navbar-items {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: black;
}

.navbar-items:hover {
  color: red;
}

.justify-space-btwn {
  justify-content: space-between;
}

.gap-29 {
  gap: 29px;
}

.let-talk {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  padding: 8px 20px 8px 20px;
}

.let-talk:hover {
  background-color: black;
  color: white;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-background-color {
  background-color: #fff7f4;
}

.menubar {
  display: none;
}

.z-2 {
  z-index: 2;
}

.backgroundcolor-section-1 {
  background-color: #fff7f4;
}

.col-6 {
  width: 50%;
  padding-right: 12px;
  padding-left: 12px;
}

.first-heading {
  font-family: "Poppins", sans-serif;
  font-size: 48.83px;
  font-weight: 700;
  line-height: 73.2px;
  text-align: left;
}

.first-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.get-start-btn {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  padding: 8px 20px 8px 20px;
  background-color: #ff5300;
  color: white;
  border: none;
  border-radius: 8px;
}

.get-start-btn:hover {
  background-color: white;
  color: #ff5300;
  border: 1px solid red;
}

.postion-fixed {
  position: fixed;
}

.w-100 {
  width: 100%;
}

.pt-150 {
  padding-top: 150px;
}

.pt-18 {
  padding-top: 18px;
}

.mt-30 {
  padding-top: 30px;
}

.pb-145 {
  padding-bottom: 145px;
}
.orange-line-before {
  width: 20px;
  border-bottom: 1px solid #ff5300;
}
.orange-line-after {
  width: 20px;
  border-bottom: 1px solid #ff5300;
}
.justi-content-center {
  justify-content: center;
}
.our-service {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ff5300;
}
.our-service:hover {
  color: black;
}
.pt-120 {
  padding-top: 120px;
}
.what-we-do {
  font-family: "Poppins", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 58.59px;
  text-align: left;
}
.mt-10 {
  margin-top: 10px;
}
.one-zero {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 73.2px;
  text-align: left;
  color: #efefef;
}
.box {
  border-radius: 10px;
  border-radius: 10px;
  padding: 30px 20px 20px 20px;
  box-shadow: 0px 1px 4px 0px #0000001a;
}
.box:hover {
  box-shadow: 0px -4px 58px 12px #0000001a;
}
.col-4 {
  width: 33.33%;
  padding-right: 12px;
  padding-left: 12px;
}
.design-font {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
  text-align: left;
  color: #373737;
}
.design-para {
  font-family: "Poppins", sans-serif;
  font-size: 12.8px;
  font-weight: 300;
  line-height: 19.2px;
  text-align: left;
  color: #7b7b7b;
}
.mt-30 {
  margin-top: 30px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-5 {
  padding-top: 5px;
}
.lorem-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #7b7b7b;
}
.pb-120 {
  padding-bottom: 120px;
}
.aboutus-line-after {
  width: 30px;
  border-bottom: 1px solid #ff5300;
}
.about-us {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ff5300;
}
.pt-8 {
  padding-top: 8px;
}
.gap-10 {
  gap: 10px;
}
.grow-business {
  font-family: "Poppins", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 58.59px;
  text-align: left;
  color: #373737;
}
.lorem-para-sction-3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #7b7b7b;
}
.mark-heading {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #373737;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.gap-15 {
  gap: 15px;
}
.section-3-background {
  background-color: #fff7f4;
}
.pt-120 {
  padding-top: 120px;
}
.pb-120 {
  padding-bottom: 120px;
}
.our-case-study {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ff5300;
}
.section-4-heading {
  font-family: "Poppins", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 58.59px;
  text-align: left;
  color: #373737;
}
.pt-12 {
  padding-top: 12px;
}
.index-buttton {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding: 10px 20px 10px 20px;
  text-align: left;
}
.index-buttton:hover {
  background-color: #ff5300;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.web-box {
  max-width: 266px;
  background-color: #ff5300bf;
  padding: 63px 35px 64px 45px;
  opacity: 0;
  transition: all 400ms linear;
}
.hover_effect:hover .web-box {
  opacity: 100%;
}
.transition_scale:hover {
  transform: scale(1.1);
}
.transition_scale {
  transition: all 400ms linear;
}
.web-template {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
  text-align: left;
  color: white;
}
.h-100 {
  height: 100%;
}
.max-w-390 {
  max-width: 390px;
}
.text-center {
  text-align: center;
}
.postion-absolute {
  position: absolute;
}
.postion-relative {
  position: relative;
}
.position_center {
  top: 42px;
  left: 62px;
}
.all-images {
  padding-bottom: 0;
  margin-top: 0;
}
.overflow-auto {
  overflow: auto;
}
.p-0 {
  padding: 0px;
}
.textwrap-nowrap {
  text-wrap: nowrap;
}
.our-testimonial {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ff5300;
}
.client-saying {
  font-family: "Poppins", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 58.59px;
  text-align: left;
  color: #373737;
}
.section-5-background-color {
  background-color: #fff7f4;
}
.lorem-para-sction-5 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #7b7b7b;
}
.slider-box {
  /* max-width: 370px; */
  width: 100%;
  /* height: 230px; */
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 0px #0000001a;
}
.slick-slide {
  margin: 0 20px;
}

.slick-list {
  margin: 0 -20px;
}
.sliderbox .slick-slide {
  height: inherit !important;
  display: flex !important;
}

.sliderbox .slick-track {
  display: flex !important;
}

.sliderbox .slick-slide > div {
  display: flex;
}
.slider-box:hover {
  box-shadow: 0px -4px 58px 12px #0000001a;
}
.slider-h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #ff5300;
}
.slider-h3 {
  font-family: "Poppins", sans-serif;
  font-size: 12.8px;
  font-weight: 300;
  line-height: 19.2px;
  text-align: left;
  color: #7b7b7b;
}
.arrow-button:hover {
  border: 2px solid red;
}
.arrow-button:hover svg path {
  fill: #ff5300;
}
.arrow-button {
  border-radius: 30px;
  width: 50px;
  height: 50px;
  top: 70%;
  left: -5%;
  border: 2px solid black;
}
.arrow-button-2:hover {
  border: 2px solid red;
}
.arrow-button-2:hover svg path {
  fill: #ff5300;
}
.arrow-button-2 {
  border-radius: 30px;
  width: 50px;
  height: 50px;
  top: 70%;
  right: -5%;
  border: 2px solid black;
}
.pt-60 {
  padding-top: 60px;
}
.our-capabilities {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ff5300;
}
.orange-line-section-6 {
  width: 25px;
  border-bottom: 1px solid #ff5300;
  padding-top: 7px;
}
.gap-6 {
  gap: 6px;
}
.section6-heading {
  font-family: "Poppins", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 58.59px;
  text-align: left;
  color: #373737;
}
.lorem-para-section-6 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #7b7b7b;
}
.pt-18 {
  padding-top: 18px;
}
.perstnage-80 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 37.5px;
  text-align: center;
}
.softwer-development {
  font-family: "Poppins", sans-serif;
  font-size: 14.8px;
  font-weight: 300;
  line-height: 19.2px;
  text-align: center;
  color: #373737;
}
.ratingbox-section6 {
  min-height: 108px;
  box-shadow: 0px 1px 4px 0px #0000001a;
  padding: 10px;
  border-radius: 5px;
  color: #ff5300;
}
.ratingbox-section6:hover {
  box-shadow: 0px -4px 58px 12px #0000001a;
}
.col-3 {
  width: 25%;
  padding-right: 12px;
  padding-left: 12px;
}
.pt-30 {
  padding-top: 30px;
}
.gap-24 {
  gap: 24px;
}
.flex-direction-column {
  flex-direction: column;
}
.long-box {
  background-color: #ff5300;
  padding: 70px 60px 70px 60px;
  border-radius: 10px;
  position: relative;
}
.red-section7 {
  font-family: "Poppins", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 58.59px;
  text-align: left;
  color: white;
}
.top-experts {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: white;
}
.md-border-right {
  border-right: 3px solid white;
}
.lg-border-right {
  border-right: 3px solid white;
}
.pb-90 {
  padding-bottom: 90px;
}
.orangeline-section7-before {
  width: 25px;
  border-bottom: 1px solid #ff5300;
}
.orangeline-section7-after {
  width: 25px;
  border-bottom: 1px solid #ff5300;
}
.section-8-background {
  background-color: #fff7f4;
}
.mb-7 {
  margin-bottom: 7px;
}
.gap-5 {
  gap: 5px;
}
.our-blog {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ff5300;
}
.every-single {
  font-family: "Poppins", sans-serif;
  font-size: 39.06px;
  font-weight: 600;
  line-height: 58.59px;
  text-align: left;
  color: #373737;
}
.section8-box {
  background-color: white;
  padding: 15px 15px 30px 15px;
  border-radius: 10px;
  height: 100%;
}
.section-8-heading {
  /* max-width: 340px; */
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #373737;
}
.section8-spannumber {
  font-family: "Work Sans", sans-serif;
  font-size: 10.24px;
  line-height: 19.2px;
  text-align: left;
  color: #373737;
}
.lorem-para-section-8 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #7b7b7b;
}
.mt-15 {
  margin-top: 15px;
}
.mt-25 {
  margin-top: 25px;
}
.read-more-btn {
  padding: 13px 23px 12px 22px;
  background-color: #ff5300;
  color: white;
  border-radius: 5px;
  border: none;
}
.read-more-btn:hover {
  background-color: white;
  color: #ff5300;
  border: 2px solid #ff5300;
}
.mt-60 {
  margin-top: 60px;
}
.ml-5{
  margin-left: 5px;
}
@media (max-width: 1400px) {
  .arrow-button {
    display: none !important;
  }
  .arrow-button-2 {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .menubar {
    width: 40px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 100;
  }

  .menubar span {
    height: 5px;
    width: 100%;
    background-color: red;
    border-radius: 3px;
  }

  .nav-items {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    left: -100%;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }

  .show {
    left: 0;
  }

  .lg-flex-direction-column {
    flex-direction: column-reverse;
  }

  .lg-col-12 {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }
  .lg-col-6 {
    width: 50%;
    padding-right: 12px;
    padding-left: 12px;
  }
  .lg-mt-30 {
    margin-top: 30px;
  }
  .lg-col-4 {
    width: 33.33%;
    padding-right: 12px;
    padding-left: 12px;
  }
  .lg-border-right {
    border: none;
  }
}
@media (min-width: 992px) {
  .pt-200 {
    padding-top: 200px;
  }
  .first-heading {
    font-family: "Poppins", sans-serif;
    font-size: 43.83px;
    font-weight: 700;
    line-height: 50.2px;
    text-align: left;
    max-width: 602px;
  }
  .first-paragraph {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    max-width: 586px;
  }
  .lorem-para-sction-3 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7b7b7b;
    max-width: 544px;
  }
  .grow-business {
    font-family: "Poppins", sans-serif;
    font-size: 39.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: #373737;
    max-width: 491px;
  }
}
@media (max-width: 768px) {
  .md-col-6 {
    width: 50%;
    padding-right: 12px;
    padding-left: 12px;
  }
  .md-p-0 {
    padding: 0%;
  }
  .md-border-right {
    border: none;
  }
  .mb-5 {
    margin-bottom: 15px;
  }
  .every-single {
    font-family: "Poppins", sans-serif;
    font-size: 30.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: #373737;
  }
  .md-col-12 {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }
}
@media (max-width: 576px) {
  .first-heading {
    font-family: "Poppins", sans-serif;
    font-size: 30.83px;
    font-weight: 700;
    line-height: 38.2px;
    text-align: left;
  }
  .sm-col-12 {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }
  .sm-mt-30 {
    margin-top: 30px;
  }
  .section-4-heading {
    font-family: "Poppins", sans-serif;
    font-size: 30.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: #373737;
  }
  .client-saying {
    font-family: "Poppins", sans-serif;
    font-size: 23.06px;
    font-weight: 600;
    line-height: 58.59px;
    color: #373737;
  }
  .every-single {
    font-family: "Poppins", sans-serif;
    font-size: 18.06px;
    font-weight: 600;
    line-height: 58.59px;
    text-align: left;
    color: #373737;
  }
  .sm-flex-direction-column {
    flex-direction: column;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .long-box::after {
    content: "";
    width: 3px;
    top: 5%;
    bottom: 5%;
    background-color: white;
    transform: translatex(-50%);
    position: absolute;
    left: 50%;
  }
  .long-box::before {
    content: "";
    height: 3px;
    left: 5%;
    background-color: white;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 5%;
  }
}
